{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}


{% block body %}
    <h1>Report</h1>

    <li class='nav-title'><a href="{{ path('report') }}#kmom01">kmom01</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom02">kmom02</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom03">kmom03</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom04">kmom04</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom05">kmom05</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom06">kmom06</a></li>
    <li class='nav-title'><a href="{{ path('report') }}#kmom07/10">kmom07/10</a></li>

    <h2> Kmom01</h2>
    <div id='kmm01'>
    <p>Äääntligen klar med kmom01, och förhoppningsvis, för sista gången denna gång.</p>
    <p>Hela uppgiftet raderades av sig när jag försökte flytta symfony applikationen till rätt fil från kmom01 filen.</p>
    <p>Visst så var det tvist, men å positiva sidan, efter att ha gjort om uppgiften tre gånger nu, så känner jag mig myyyycket mer trygg i att jobba med klasser och OOP.</p>
    <p>Man kan säga att jag kan nästan hela uppgiften utom till nu.</p>
    <p>Jag har jobbat lite med OOP innan inom Python, dock så har jag inte kommit väldigt långt med kursen, så OOP i PHP är ändå ganska nytt för mig.</p>
    <p>Då vi jobbar inom symfony ramverket så var det extra förvirande för mig att komma i gång och faktist förstå vad som pågår.</p>
    <p>Vid första försöket av applikationen, så fäljde jag för det mesta instruktionerna och la inte till mycket mer, jag var riktigt förvirrad och förstod inte hur saker fungerade.</p>
    <p>Jag la allting i fel fil och i fel ordning och fick inte till det med github heller, allting var huller om buller.</p>
    <p>Det var vid andra försöket som jag började förstå saker lite mer och få en uppfattning av hur det fungerade, men dock så lyckades jag få det i fel fil ändå och hade lagt det någonstans det inte skulle ligga.</p>
    <p>På tredje försöket så kände jag att jag faktist förstod allting som jag gjorde, allt från hur man bygger klasser och routes till hur man gör twig templates och renderar de, jag fick även till GitHub som inte ville funka tidigare.</p>
    <p>Jag kan fortfarande inte säga att jag vet 100% allt om hur man skapar klasser inom PHP, men jag kan grunderna så som hur man skapar metoder och objekt, jag skulle dock,
    personligen vilja fokusera på arv och komposition lite mer då den var lite förvirande för mig för en början.</p>
    <p>Efter all slit så skulle jag säga att jag är ganska nöjd med hur min kod blev till slut, jag känner att jag förstår bättre och att jag gjorde rätt så bra jobb.</p>
    <p>Artikeln 'PHP THE RIGHT WAY' var lite för lång så jag kollade endast översiktligt på den, jag skulle vilja lära mig mer om erros och exceptions dock, något som jag kämpade med extra på python.</p>
    <p>Namespaces även, det är ett koncept jag fortfarande inte har 100% förstått, i börja av mitt project fick jag mycket problem för att jag försökte ändra namespace APP men det gick inte.</p>
    <p>Allt i allt så gick allt bra till slut och jag skulle säga att mitt TIL är länkaaar.Det tog mig en bit att få denna delen att funka men förhoppningsvis så har jag gjort den rätt </div>
    
    <h2>Kmom02</h2>
    <div id='kmom02'> </div>

    <h2> Kmom03</h2>
    <div id='kmom03'> </div>

    <h2>Kmom04</h2>
    <div id='kmom04'> </div>

    <h2>Kmom05</h2>
    <div id='kmom05'> </div>

    <h2>Kmom06</h2>
    <div id='kmom06'> </div>

    <h2>Kmom07/10</h2>
    <div id='kmom07/10'> </div>
    
{% endblock %}
